.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register-form button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #5db996;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.first-form-container {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  padding: 40px;
  background-color: #e3f0af;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.diet-type {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  padding: 40px;
  background-color: #e3f0af;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.allergens-container {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e3f0af;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.allergens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.allergen-label {
  border: 1px solid #118b50;
  border-radius: 5px;
  background-color: #e1f39d;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.allergen-input {
  margin: 5px;
}
.selected-allergens-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-allergens-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-allergens-list li {
  background-color: #cde6a2;
  border: 1px solid #118b50;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;

  flex: 1 1 calc(30% - 10px);
  text-align: center;
  box-sizing: border-box;
  min-width: 100px;
  max-width: 200px;
}

.dislikeIngredient-container {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e3f0af;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.dislikeIngredient {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dislikeIngredient-label {
  border: 1px solid #118b50;
  border-radius: 5px;
  background-color: #e1f39d;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dislikeIngredient-input {
  margin: 5px;
}

.selected-dislikeIngredient-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-dislikeIngredient-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-dislikeIngredient-list li {
  background-color: #cde6a2;
  border: 1px solid #118b50;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;

  flex: 1 1 calc(30% - 10px);
  text-align: center;
  box-sizing: border-box;
  min-width: 100px;
  max-width: 200px;
}

.diet {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e3f0af;
  border-bottom: 1px solid #118b50;
  margin-top: 10px;
}

.diet {
  outline: none;
  border-bottom: 2px solid #118b50;
}
.dietType-description {
  margin-top: 10px;
  color: #118b50;
  font-size: 14px;
  border: 2px solid #118b50;
  padding: 10px;
  border-radius: 5px;
  background-color: #e1f39d;
}

.form-group {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #118b50;
}

input {
  border: none;
  background-color: #e3f0af;
  border-bottom: 1px solid #118b50;
  padding: 10px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #118b50;
}
